body {
    background-image: url("../../public/images/bank_background.jpg");
    background-color: #cccccc;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.card-header {
    background-image: url("../../public/images/triangle.jpg");
    background-size: cover;
}

.custom-amount {
    display: none;
}

.card {
    opacity: 90%;
}